# Backend
__pycache__/
*.pyc
backend/app/firebase_credentials.json
backend/app/uploads/*
!backend/app/uploads/.gitkeep
backend/app/models/weights/*
!backend/app/models/weights/.gitkeep
.venv/
venv/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
data/chest_xray
data/ct_scan
